@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    height: 100%;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#fff, 0.25);
        content: "";
        z-index: 1;
    }
}

body {
    font-family: $font-family;
    // To deploy
    background: url('../../../public/images/background.jpg') no-repeat center;
    // To local development
    // background: url('/images/background.jpg') no-repeat center;
    background-size: cover;
}

.container {
    margin: 0 auto;
    padding: 1rem 0;
    width: 700px;
    z-index: 2;
    border-radius: 6px;
    background-color: rgba(#fff, 0.75);
    text-align: center;
    position: relative;

    @media (max-width: 700px){
        width: 100%;
    }

    .inv {
        display: none;
    }

    .personal-info {

        p {
            margin: 0 0 15px;
            font-size: 5rem;

            @media (max-width: 700px){
                font-size: 3rem;
            }
        }
    }

    .profissional-info {

        p {
            font-size: 1.5rem;
            margin-bottom: 15px;

            @media (max-width: 700px){
                font-size: 1rem;
            }
        }
    }

    .social-networks {
      display: flex;
      justify-content: center;

        a {
            padding: 20px;
            margin: 5px;
            color: #fff;
            font-size: 1.4rem;

            &.linkedin {
                background: #0077B5;
            }

            &.facebook {
                background: #3b5998;
            }
            
            &.instagram {
                background: #f58529;
            }
            
            &.github {
                background: #000;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.header {
    padding-top: 2rem;
    position: relative;
    z-index: 2;
}
