@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: $font-family;
    height: 100%;
}

.bg-image {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    filter: blur(3px);
    // For deploy
    // background: url('../../../public/images/background.jpg') no-repeat center;
    // For local development
    background: url('/images/background.jpg') no-repeat center;
    background-size: cover;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.75);
        content: "";
        z-index: -1;
    }
}

.container {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    background-color: #ddd;
    text-align: center;
    position: relative;
    
    @media (min-width: 700px){
        margin-top: 2rem;
        width: 600px;
        height: auto;
        padding: 1rem 3rem;
        border-radius: 10px;
        display: block;
        background-color: $background-color;
    }

    .inv {
        display: none;
    }

    .personal-info {

        p {
            margin: 0 0 15px;
            font-size: 2.4rem;
            font-weight: bold;
            text-transform: uppercase;

            @media (min-width: 700px){
                font-size: 4rem;
            }
        }
    }

    .profissional-info {

        p {
            font-size: 1rem;
            margin-bottom: 15px;

            @media (min-width: 700px){
                font-size: 1.5rem;
            }
        }
    }

    .social-networks {
      display: flex;
      justify-content: center;

        a {
            padding: 20px;
            margin: 5px;
            color: #fff;
            font-size: 1.4rem;
            border-radius: 5px;

            &.linkedin {
                background: #0077B5;
            }

            &.facebook {
                background: #3b5998;
            }
            
            &.instagram {
                background: #f58529;
            }
            
            &.github {
                background: #000;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .badges {
        display: flex;
        column-gap: 5px;
        justify-content: center;

        img {
            max-width: 50px;
        }
    }
}
